#hot {
    margin-top: 10px;
    background: #fff;
    padding: 0 0 10px 0;
}
#hot .title {
    height: 34px;
    color: #ff0000;

    font-weight: bold;
    line-height: 34px;
    border-bottom: 1px solid #e4e4e4;
    text-indent: 10px;
    margin: 0 0 10px 0;
}
#hot .newlist {
    background: #ffffff;
    padding: 10px;
}
#hot .newlist li {
    width: 100%;
    float: left;
    text-indent: 15px;
    line-height: 23px;
    margin-bottom: 5px;
}
#hot .newlist li a {
    color: #333;
}
.box {

}
.box .title {
    background: #f7f7f7;
    color: #105cb6;
    font-weight: bold;
    border-top: 1px solid #e5e5e5;
    border-bottom: 1px solid #e5e5e5;
    padding: 8px 12px;
}
.box .classlist {
    background: #ffffff;
    padding: 0 15px;
}
.box .classlist .childBox {
    width: 264px;
    height: 51px;
    float: left;
    padding: 10px 0 10px 46px;
    border-bottom: 1px dashed #e4e4e4;
    color: #444444;
}
.box .classlist .childBox h2 {
    padding-bottom: 3px;
}
.box .classlist .childBox h2 a {
    color: #333;
    font-weight: bold;
}
.box .classlist .childBox h2 span {
    color: #ff5500;
    font-weight: normal;
}
.box .classlist .new {
    background: url(new.gif) 0px center no-repeat;
}
.box .classlist .old {
    background: url(old.gif) 0px center no-repeat;
}
.box .classlist .lock {
    background: url(lock.gif) 0px center no-repeat;
}