#main div.contentWrap {
    background: #fbfbfb;
    border-bottom: 1px solid #ccc;
    margin-top: 12px;
    margin-bottom: 14px;
}
#main div.contentWrap div.left {
    float: left;
    width: 146px;
    border-right: 1px solid #e9e9e9;
}
#main div.contentWrap div.left div.head_img {
    text-align: center;
}
#main div.contentWrap div.left div.head_img img {
    margin-top: 13px;
    margin-bottom: 11px;
}
#main div.contentWrap div.left div.name {
    text-align: center;
    margin-bottom: 8px;
}
#main div.contentWrap div.left div.name a {
    color: #000;
    font-weight: bold;
}
#main div.contentWrap div.right {
    float: right;
    padding: 5px 20px 20px 20px;
    width: 773px;
}
#main div.contentWrap div.right div.title {
    border-bottom: 1px dashed #dddddd;
    padding: 10px 0 30px 0;
}
#main div.contentWrap div.right div.title h2 {
    float: left;
    display: inline-block;
    font-size: 16px;
}
#main div.contentWrap div.right div.title span {
    float: right;
    display: inline-block;
    color: #999;
}
#main div.contentWrap div.right div.pubdate {
    margin: 10px 0 22px 0;
}
#main div.contentWrap div.right div.pubdate .date {
    color: #666;
}
#main div.contentWrap div.right div.pubdate .floor {
    float: right;
    color: #999;
}
#main div.contentWrap div.right div.pubdate .floor a {
    color: dodgerblue;
    font-size: 15px;
}
.quote {
    background: #dedede;
    border: 1px solid #bbb;
    padding: 10px;
    margin-bottom: 10px;
}
div.pages_wrap_show {
    text-align: center;
}
.pages {
    margin-top: 80px;
}
#talk {
    margin-left: 145px;
}
div.content {
    line-height: 170%;
}