<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <title>IBBS后台管理</title>
    <link rel="stylesheet" href="css/index.css">
</head>
<body>
    <div id="top">
        <div class="logo">
            IBBS管理中心
        </div>
        <!--
        <ul class="nav">
            <li><a href="#">占位</a></li>
            <li><a href="#">占位</a></li>
        </ul>
        -->
        <div class="login_info">
            <a href="#" style="color:#fff;">网站首页</a>&nbsp;|&nbsp;
            管理员：admin <a href="#">[注销]</a>
        </div>
    </div>
    <div id="sidebar">
        <ul>
            <li>
                <div class="small_title">系统</div>
                <ul class="child">
                    <li><a href="#" class="current">系统信息</a></li>
                    <li><a href="#">管理员</a></li>
                    <li><a href="#">添加管理员</a></li>
                    <li><a href="#">站点设置</a></li>
                </ul>
            </li>
            <li>
                <div class="small_title">内容管理</div>
                <ul class="child">
                    <li><a href="#" class="current">父版块列表</a></li>
                    <li><a href="#">添加父版块</a></li>
                    <li><a href="#">子版块列表</a></li>
                    <li><a href="#">添加子版块</a></li>
                    <li><a href="#">帖子管理</a></li>
                </ul>
            </li>
            <li>
                <div class="small_title">用户管理</div>
                <ul class="child">
                    <li><a href="#">用户列表</a></li>
                </ul>
            </li>
        </ul>
    </div>
    <div id="main">
        <div class="title">功能说明</div>
        <div class="explain">
            <ul>
                <li>说明1</li>
                <li>说明2</li>
                <li>说明3</li>
            </ul>
        </div>
        <table class="list">
            <tr>
                <th>排序</th>
                <th>版块</th>
                <th>版主</th>
                <th>封面</th>
                <th>操作</th>
            </tr>
            <tr>
                <td><input type="text" class="sort" name="sort"></td>
                <td>测试[id:1]</td>
                <td>JiangNanMax</td>
                <td><img width=80 height=110 src="css/thinking_in_java.jpg" alt=""></td>
                <td><a href="#">[访问]</a>&nbsp;&nbsp;<a href="#">[编辑]</a>&nbsp;&nbsp;<a href="#">[删除]</a></td>
            </tr>
            <tr>
                <td><input type="text" class="sort" name="sort"></td>
                <td>测试[id:2]</td>
                <td>JiangNanMax</td>
                <td><img width=80 height=110 src="css/thinking_in_java.jpg" alt=""></td>
                <td><a href="#">[访问]</a>&nbsp;&nbsp;<a href="#">[编辑]</a>&nbsp;&nbsp;<a href="#">[删除]</a></td>
            </tr>
            <tr>
                <td><input type="text" class="sort" name="sort"></td>
                <td>测试[id:3]</td>
                <td>JiangNanMax</td>
                <td><img width=80 height=110 src="css/thinking_in_java.jpg" alt=""></td>
                <td><a href="#">[访问]</a>&nbsp;&nbsp;<a href="#">[编辑]</a>&nbsp;&nbsp;<a href="#">[删除]</a></td>
            </tr>
        </table>
        <input type="submit" class="btn" name="submit" value="排序">
    </div>

</body>
</html>