<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>IBBS</title>
    <link rel="shortcut icon" href="css/bbs32.png">
    <link rel="stylesheet" href="css/public.css">
    <link rel="stylesheet" href="css/index.css">
</head>
<body>
    <div class="header_wrap">
        <div id="header" class="auto">
            <div class="logo">IBBS</div>
            <div class="nav">
                <a href="#" class="hover">首页</a>
                <a href="#">话题</a>
                <a href="#">热门</a>
            </div>
            <div class="search">
                <form action="">
                    <input type="text" class="keyword" name="keyword" placeholder="输入你想搜索的内容">
                    <input type="submit" class="submit" name="submit" value="">
                </form>
            </div>
            <div class="login">
                <a href="login.php">登录</a>
                &nbsp;
                <a href="register.php">注册</a>
            </div>
        </div>
    </div>
    <div class="place-holder"></div>
    <div id="hot" class="auto">
        <div class="title">本站介绍</div>
        <ul class="newlist">
            <li>&nbsp;&nbsp;&nbsp;&nbsp;本站定位为编程论坛网站，主要功能即在相应的主题模块下进行发帖、评论以及回复，进行与编程相关的交流讨论。其中，管理员们有权删除不符合社会主义核心价值观的内容。另外，本站还有动态页面和资源页面。动态页面会及时推送一些技术方面的最新动态，
                通过url链接进行内容跳转。而资源页面则提供免费的编程资源下载。So, Welcome! Enjoy!</li>
        </ul>
        <!-- 清除左右漂浮 -->
        <div style="clear:both;"></div>
    </div>
    <div class="box auto">
        <div class="title">PHP</div>
        <div class="classlist">
            <div style="padding:10px 0;">暂无子版块...</div>
        </div>
    </div>
    <div class="box auto">
        <div class="title">MySQL</div>
        <div class="classlist">
            <div style="padding:10px 0;">暂无子版块...</div>
        </div>
    </div>
    <div class="box auto">
        <div class="title">其他</div>
        <div class="classlist">
            <div class="childBox new">
                <h2><a href="#">Java</a><span>&nbsp;(今日66)</span></h2>
                帖子：1997<br>
            </div>

            <div class="childBox old">
                <h2><a href="#">Python</a><span>&nbsp;(今日66)</span></h2>
                帖子：1997<br>
            </div>

            <div class="childBox lock">
                <h2><a href="#">JavaScript</a><span>&nbsp;(今日66)</span></h2>
                帖子：1997<br>
            </div>

            <div class="childBox new">
                <h2><a href="#">C++</a><span>&nbsp;(今日66)</span></h2>
                帖子：1997<br>
            </div>

            <div class="childBox new">
                <h2><a href="#">Java</a><span>&nbsp;(今日66)</span></h2>
                帖子：1997<br>
            </div>

            <div class="childBox old">
                <h2><a href="#">Python</a><span>&nbsp;(今日66)</span></h2>
                帖子：1997<br>
            </div>

            <div class="childBox lock">
                <h2><a href="#">JavaScript</a><span>&nbsp;(今日66)</span></h2>
                帖子：1997<br>
            </div>

            <div class="childBox new">
                <h2><a href="#">C++</a><span>&nbsp;(今日66)</span></h2>
                帖子：1997<br>
            </div>
            <div class="childBox new">
                <h2><a href="#">Java</a><span>&nbsp;(今日66)</span></h2>
                帖子：1997<br>
            </div>

            <div class="childBox old">
                <h2><a href="#">Python</a><span>&nbsp;(今日66)</span></h2>
                帖子：1997<br>
            </div>

            <div class="childBox lock">
                <h2><a href="#">JavaScript</a><span>&nbsp;(今日66)</span></h2>
                帖子：1997<br>
            </div>

            <div class="childBox new">
                <h2><a href="#">C++</a><span>&nbsp;(今日66)</span></h2>
                帖子：1997<br>
            </div>
            <div class="childBox new">
                <h2><a href="#">Java</a><span>&nbsp;(今日66)</span></h2>
                帖子：1997<br>
            </div>

            <div class="childBox old">
                <h2><a href="#">Python</a><span>&nbsp;(今日66)</span></h2>
                帖子：1997<br>
            </div>

            <div class="childBox lock">
                <h2><a href="#">JavaScript</a><span>&nbsp;(今日66)</span></h2>
                帖子：1997<br>
            </div>

            <div class="childBox new">
                <h2><a href="#">C++</a><span>&nbsp;(今日66)</span></h2>
                帖子：1997<br>
            </div>
            <div class="childBox new">
                <h2><a href="#">Java</a><span>&nbsp;(今日66)</span></h2>
                帖子：1997<br>
            </div>

            <div class="childBox old">
                <h2><a href="#">Python</a><span>&nbsp;(今日66)</span></h2>
                帖子：1997<br>
            </div>

            <div class="childBox lock">
                <h2><a href="#">JavaScript</a><span>&nbsp;(今日66)</span></h2>
                帖子：1997<br>
            </div>

            <div class="childBox new">
                <h2><a href="#">C++</a><span>&nbsp;(今日66)</span></h2>
                帖子：1997<br>
            </div>

            <!-- 注意清除浮动! -->
            <div style="clear:both;"></div>
        </div>
    </div>
    <div id="footer" class="auto">
        <div class="bottom">
            <a href="#">IBBS</a>
        </div>
        <div class="copyright">Powered by JiangNanMax ©2019</div>
    </div>
</body>
</html>