<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>父版块</title>
    <link rel="shortcut icon" href="css/bbs32.png">
    <link rel="stylesheet" href="css/public.css">
    <link rel="stylesheet" href="css/list.css">
</head>
<body>
    <div class="header_wrap">
        <div id="header" class="auto">
            <div class="logo">IBBS</div>
            <div class="nav">
                <a href="#" class="hover">首页</a>
                <a href="#">话题</a>
                <a href="#">热门</a>
            </div>
            <div class="search">
                <form action="">
                    <input type="text" class="keyword" name="keyword" placeholder="输入你想搜索的内容">
                    <input type="submit" class="submit" name="submit" value="">
                </form>
            </div>
            <div class="login">
                <a href="">登陆</a>
                &nbsp;
                <a href="">注册</a>
            </div>
        </div>
    </div>
    <div class="place-holder"></div>
    <div id="position" class="auto">
        <a href="">首页</a> &gt; <a href="">Java</a>
    </div>

    <div id="main" class="auto">
        <div id="left">
            <div class="box_wrap">
                <h3>Java</h3>
                <div class="num">
                    今日：<span>8</span>&nbsp;&nbsp;&nbsp;
                    总帖：<span>1024</span>
                    <div class="moderator">子版块： <a href="" style="color: #333;">JDBC</a>&nbsp;&nbsp;<a href="" style="color: #333;">JSP</a></div>
                </div>
            </div>
        </div>

        <div id="right">

        </div>
    </div>

    <div id="footer" class="auto">
        <div class="bottom">
            <a href="#">IBBS</a>
        </div>
        <div class="copyright">Powered by JiangNanMax ©2019</div>
    </div>
</body>
</html>