<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>登录</title>
    <link rel="shortcut icon" href="css/bbs32.png">
    <link rel="stylesheet" href="css/public.css">
    <link rel="stylesheet" href="css/register.css">
</head>
<body>
<div class="header_wrap">
    <div id="header" class="auto">
        <div class="logo">IBBS</div>
        <div class="nav">
            <a href="#" class="hover">首页</a>
            <a href="#">话题</a>
            <a href="#">热门</a>
        </div>
        <div class="search">
            <form action="">
                <input type="text" class="keyword" name="keyword" placeholder="输入你想搜索的内容">
                <input type="submit" class="submit" name="submit" value="">
            </form>
        </div>
        <div class="login">
            <a href="">登陆</a>
            &nbsp;
            <a href="">注册</a>
        </div>
    </div>
</div>
<div class="place-holder"></div>
<div id="register" class="auto">
    <h2>欢迎登录!</h2>
    <form action="">
        <label>用户名：<input type="text"></label>
        <label>密码：<input type="password"></label>
        <label>验证码：<input type="text" name="vcode"></label>
        <img src="css/show_code.php.jpg" class="vcode" alt="">
        <div style="clear:both;"></div>
        <input type="submit" class="btn" value="登录">
    </form>
</div>
<div id="footer" class="auto">
    <div class="bottom">
        <a href="#">IBBS</a>
    </div>
    <div class="copyright">Powered by JiangNanMax ©2019</div>
</div>
</body>
</html>