<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>发帖</title>
    <link rel="stylesheet" href="css/public.css">
    <link rel="stylesheet" href="css/publish.css">
</head>
<body>
    <div class="header_wrap">
        <div id="header" class="auto">
            <div class="logo">IBBS</div>
            <div class="nav">
                <a href="#" class="hover">首页</a>
                <a href="#">话题</a>
                <a href="#">热门</a>
            </div>
            <div class="search">
                <form action="">
                    <input type="text" class="keyword" name="keyword" placeholder="输入你想搜索的内容">
                    <input type="submit" class="submit" name="submit" value="">
                </form>
            </div>
            <div class="login">
                <a href="">登陆</a>&nbsp;
                <a href="">注册</a>
            </div>
        </div>
    </div>
    <div class="place-holder"></div>
    <div id="position" class="auto">
        <a href="">首页</a> &gt; <a href="">Java</a> &gt; <a href="">JDBC</a> &gt; 连接数据库
    </div>
    <div id="publish" class="auto">
        <form action="" method="post">
            <select name="module_id">
                <option value="">请选择一个版块</option>
            </select>
            <input type="text" class="title" name="title" placeholder="请输入标题">
            <textarea name="content" class="content"></textarea>
            <input type="submit" name="submit" class="publish" value="发帖">
        </form>
    </div>
    <div id="footer" class="auto">
        <div class="bottom">
            <a href="#">IBBS</a>
        </div>
        <div class="copyright">Powered by JiangNanMax ©2019</div>
    </div>
</body>
</html>