<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>详情页</title>
    <link rel="shortcut icon" href="css/bbs32.png">
    <link rel="stylesheet" href="css/public.css">
    <link rel="stylesheet" href="css/index.css">
</head>
<body>
    <div class="header_wrap">
        <div id="header" class="auto">
            <div class="logo">IBBS</div>
            <div class="nav">
                <a href="#" class="hover">首页</a>
                <a href="#">话题</a>
                <a href="#">热门</a>
            </div>
            <div class="search">
                <form action="">
                    <input type="text" class="keyword" name="keyword" placeholder="输入你想搜索的内容">
                    <input type="submit" class="submit" name="submit" value="">
                </form>
            </div>
            <div class="login">
                <a href="">登陆</a>
                &nbsp;
                <a href="">注册</a>
            </div>
        </div>
    </div>
    <div class="place-holder"></div>
    <div id="position" class="auto">
        <a href="">首页</a> &gt; <a href="">Java</a> &gt; <a href="">JDBC</a> &gt; 数据库连接
    </div>

    <div id="main" class="auto">
        <div class="contentWrap">
            <div class="left">
                <div class="head_img">
                    <a href="">
                        <img src="css/head_img_1.png" alt="">
                    </a>
                </div>
                <div class="name">
                    <a href="">JiangNanMax</a>
                </div>
            </div>
            <div class="right">
                <div class="title">
                    <h2>测试帖</h2>
                    <span>阅读：339&nbsp;|&nbsp;回复：15</span>
                </div>
                <div class="pubdate">
                    <span class="date">发布于：2019-03-18 22:17:34</span>
                    <span class="floor_master">楼主</span>
                </div>
                <div class="content">
                    数据库连接数据库连接数据库连接...
                </div>
            </div>
            <div style="clear: both;"></div>
        </div>
        <div class="contentWrap">
            <div class="left">
                <div class="head_img">
                    <a href="">
                        <img src="css/head_img_2.png" alt="">
                    </a>
                </div>
                <div class="name">
                    <a href="">JiangNanMax</a>
                </div>
            </div>
            <div class="right">
                <div class="pubdate">
                    <span class="date">回复时间：2019-03-18 22:24:26</span>
                    <span class="floor">1楼&nbsp;|&nbsp;<a href="#">引用</a></span>
                </div>
                <div class="content">嗯嗯嗯嗯嗯嗯嗯...</div>
            </div>
            <div style="clear: both;"></div>
        </div>
        <div class="contentWrap">
            <div class="left">
                <div class="head_img">
                    <a href="">
                        <img src="css/head_img_3.png" alt="">
                    </a>
                </div>
                <div class="name">
                    <a href="">JiangNanMax</a>
                </div>
            </div>
            <div class="right">
                <div class="pubdate">
                    <span class="date">回复时间：2019-03-18 22:28:46</span>
                    <span class="floor">1楼&nbsp;|&nbsp;<a href="#">引用</a></span>
                </div>
                <div class="content">噢噢噢噢噢噢噢噢噢...</div>
            </div>
            <div style="clear: both;"></div>
        </div>

        <div class="pages_wrap_show">
            <a href="" class="btn publish">发帖</a>
            <div class="pages">
                <a>« 上一页</a>
                <a>1</a>
                <span>2</span>
                <a>3</a>
                <a>4</a>
                <a>...8</a>
                <a>下一页 »</a>
            </div>
        </div>
    </div>

    <div id="footer" class="auto">
        <div class="bottom">
            <a href="#">IBBS</a>
        </div>
        <div class="copyright">Powered by JiangNanMax ©2019</div>
    </div>
</body>
</html>